<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <nav>
      <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">WebApplication</a>
      <ul>
          <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
          <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
          <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>        
      </ul>
  </nav>

  <main>
      @RenderBody()
  </main>

  <hr />

  <footer>
      <p>&copy; 2020 - WebApplication</p>
  </footer>
        
  <script src="~/js/site.js" asp-append-version="true"></script>    

  @RenderSection("Scripts", required: false)
</body>
</html>
