// Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
// for details on configuring this project to bundle and minify static web assets.


body {
    background-color: white;

    margin: 0;
    padding: 0;
    border: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    width: 100%;
    color: white;
    background-color: black;
} 

nav a, nav a:visited {
    display: inline-block;
    padding: 1vh 2vw;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li:hover {
    background-color: black;
}

nav ul li:hover a {
    color: white;
}
